<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../src/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../src/css/styles.css" rel="stylesheet">
</head>

<body>
    <!--nav START-->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">THEATER</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mr-auto"></div>
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#loginModal">Login</button>
            </div>
        </nav>
    </header>
    <!--nav END-->

    <main role="main">
        
        <!-- FOOTER START -->
        <footer class="container-fluid bg-dark">
            <div class="container">
                <div class="row justify-content-between">
                    <p>&copy; 2017 CCUMIS &middot;
                        <a href="#">Contact Us</a>
                    </p>
                    <p class="float-right">
                        <a href="#">Back to top ></a>
                    </p>
                </div>
            </div>
        </footer>
        <!-- FOOTER END -->
        
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../src/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="../../src/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
</body>

</html>