*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}

body{
	background-color: beige;
	font-family: Microsoft JhengHei;
	}

#wrapper {
	width: 350px;
	height: 580px;
	border-radius: 3px;
	border: 5px solid #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -190px;
	margin-left: -175px;
	}

#title {
	background-color: #ECECEC;
	padding: 10px 15px;
		
	}
	
#content {
	padding: 15px;
	}
	
.form-group {
	margin-bottom: 15px;
	}
	
input.form-control{
	display: block;
	width: 100%;
	height: 34px;
	font-size: 14px;
	color: #555555;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	padding: 5px;
	}
	
.btn{
	display: block;
	width: 100%;
	color: #FFFFFF;
	background-color: #B63D32;
	padding: 10px;
	text-decoration: none;
	border-radius: 3px;
	margin-top: 15px;
	text-align: center;
	}
