*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}

body{
	background-color: beige;
	font-family: Microsoft JhengHei;
	}

#sidebar_left{
	background-color: #EEF3E8;
	width:120px;
	height:350px;
	text-align:center;
	line-height:50px;
	float: left;
	margin-top: 100px;
	margin-left: 320px;
	border-radius: 3px;
	border: 5px solid #ccc;
	position: absolute;
	}

.title {
	background-color: #ECECEC;
	padding: 10px 15px;
	height: 65px;
	}

#content{
	float: right;
	width:700px;
	height:350px;
	text-align:center;
	line-height:50px;
	margin-top: 100px;
	margin-left: 435px;
	border-radius: 3px;
	border: 5px solid #ccc;
	position: absolute;
}

.btn{
	width: 80px;
	height: 30px;
	font-size: 16px;
}