*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}

body{
	background-color: beige;
	font-family: Microsoft JhengHei;
	}

#wrapper {
	width: 350px;
	height: 320px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -70px;
	}