/*----------------------------------------header-styles---------------------------------------*/
* {
    box-sizing: border-box;
}
body{
	margin: 0;
}
#page{
	height: 100%;
}
#header {
	margin: 0;
	padding: 0;
	top:0;
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: black;
}
#navigation{
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding: 0 10px;
}
#mark{
	display:block;
	height: 100%;
	width: 140px;
	float: left;
	position: absolute;
	left: 20%;
}
#user {
	display:block;
	height: 100%;
	width: 100px;
	padding: 10px;
	position: absolute;
	float: left;
	left: 95%;
}
#header div ul {
	display: block;
	margin:  auto;
	padding-top: 18px;
    /* width: 100%; */
	text-align: center;
	padding-left: 0px;
	width: 50%;
}
#header div ul li {
	display: inline-block;
	margin: 0 15px 0 15px;
	padding: 0;
    width: auto;
    font-weight: 900;
}
#header div ul li a {
	color: whitesmoke;
	font-family: "Arial Black";
	font-size: 19px;
	font-weight: bolder;
	line-height: 19px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
#header div ul li a:hover {
	color: #D2A3DB;
}
/*-----------------整合的部分---------------------*/

#body{
	margin-top: 60px;
	/* height: 500px; */
	/* width: 100%; */
}
.notify-shopping-car{
    display: flex;
    justify-content: center;
    width: 85%;
    margin: auto;
    align-items: center;
    background-color: #fbfdff;
    color: rgb(51, 51, 51);
    height: 3rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ad6bf0;
    border-radius: 10px;
}
.shoppingcar{
    margin: auto;
    width: 85%;
    height: 4rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 0.8rem ;
    font-size: 120%;
}
.shoppingcar-name{
    width: 45%;
}
.shoppingcar-unitprice{
    width: 25%;
    color: gray;
}
.shoppingcar-number{
    width: 25%;
    color: gray;
}
.shoppingcar-total{
    width: 20%;
    color: gray;
}
.shoppingcar-action{
    width: 10%;
    color: gray;
}
.advice-shopping-car{
    margin: auto;
    width: 85%;
    height: 30rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 0.6rem;
    border-radius: 10px;
}
.tell-us{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-size: 85%;
    color: red;
    margin-bottom: 0.5rem;
}
#container1-shopping-car{
    width:100%;
    height:8rem;
    display:flex;
    justify-content:space-between;
    text-align:center;
}
.product-photo1-shopping-car{
    margin-left:0.8rem;
    height:6.5rem;
    width:6.5rem;
    background-color: #bcfdbc;
}
.product-name1-shopping-car{
    margin-left:-6rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 17rem;
    background-color: #bcfdbc;
}
.product-unitprice1-shopping-car{
    margin-left:-5.5rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 7rem;
    background-color: #bcfdbc;
}
.product-number1-shopping-car{
    margin-left:1.3rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}
.product-total1-shopping-car{
    margin-right: -3rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;

}
.product-action1-shopping-car{
    margin-right:2rem;
    margin-top:1.3rem;
    font-size:120%;
    height: 3.5rem;
    width: 8rem;
    background-color:#f38f1c;
    color: white;
}
#container2-shopping-car{
    width:100%;
    height:8rem;
    display:flex;
    justify-content:space-between;
    text-align:center;
}
.product-photo2-shopping-car{
    margin-left:0.8rem;
    height:6.5rem;
    width:6.5rem;
    background-color: #bcfdbc;
}
.product-name2-shopping-car{
    margin-left:-6rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 17rem;
    background-color: #bcfdbc;
}
.product-unitprice2-shopping-car{
    margin-left:-5.5rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 7rem;
    background-color: #bcfdbc;
}
.product-number2-shopping-car{
    margin-left:1.3rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}
.product-total2-shopping-car{
    margin-right: -3rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;

}
.product-action2-shopping-car{
    margin-right:2rem;
    margin-top:1.3rem;
    font-size:120%;
    height: 3.5rem;
    width: 8rem;
    background-color:#f38f1c;
    color: white;
}
#container3-shopping-car{
    width:100%;
    height:8rem;
    display:flex;
    justify-content:space-between;
    text-align:center;
}
.product-photo3-shopping-car{
    margin-left:0.8rem;
    height:6.5rem;
    width:6.5rem;
    background-color: #bcfdbc;
}
.product-name3-shopping-car{
    margin-left:-6rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 17rem;
    background-color: #bcfdbc;
}
.product-unitprice3-shopping-car{
    margin-left:-5.5rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 7rem;
    background-color: #bcfdbc;
}
.product-number3-shopping-car{
    margin-left:1.3rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}
.product-total3-shopping-car{
    margin-right: -3rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;

}
.product-action3-shopping-car{
    margin-right:2rem;
    margin-top:1.3rem;
    font-size:120%;
    height: 3.5rem;
    width: 8rem;
    background-color:#f38f1c;
    color: white;
}
.discount{
    margin: auto;
    width: 85%;
    height: 3.5rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 0.6rem;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.fuckword{
    font-size:80%;
    margin-right: 3.5rem;
    color: red;
}
.dis{
    margin-right: 1rem;
}
.form-control{
    height: 1.4rem;
    border-radius: 5px;
    border-color: #49c1df;
}
.com-button{
    height: 1.8rem;
    border-radius: 5px;
    background-color: orange;
    color: white;
}
.complete{
    margin-right: 2rem;
}
.ending-shopping-car{
    margin: auto;
    width: 85%;
    height: 6rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.keep-buy-button{
    height: 2.5rem;
    width: 6rem;
    margin-left: 1.5rem;
    border-radius: 5px;
    background-color: orange;
    color: white;
}
.total-money-shopping-car{
    font-size: 150%;
}
.go-pay-button{
    height: 2.5rem;
    width: 6rem;
    margin-right: 1.5rem;
    border-radius: 5px;
    background-color: orange;
    color: white;
}

.notify-pay-money{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    align-items: center;
    background-color: #fbfdff;
    color: rgb(51, 51, 51);
    height: 3rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ad6bf0;
    border-radius: 10px;
}
.payingcar{
    margin: auto;
    width: 75%;
    height: 4.5rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 0.8rem ;
    font-size: 120%;
}
.payingcar-name{
    margin-left: 2rem;
    width: 60%;
}
.payingcar-unitprice{
    width: 30%;
    color: gray;
}
.payingcar-number{
    width: 30%;
    color: gray;
}
.payingcar-total{
    width: 15%;
    color: gray;
}
.advice-pay-money{
    margin: auto;
    width: 75%;
    height: 30rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 0.6rem;
    border-radius: 10px;
}
#container1-pay-money{
    width:100%;
    height:8rem;
    display:flex;
    justify-content:space-between;
    text-align:center;
}
.product-photo1-pay-money{
    margin-top:1rem;
    margin-left: 2.3rem;
    height:6.5rem;
    width:6.5rem;
    background-color: #bcfdbc;
}
.product-name1-pay-money{
    margin-top: 2.3rem;
    margin-left: -6.5rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 17rem;
    background-color: #bcfdbc;
}
.product-unitprice1-pay-money{
    margin-top: 2.3rem;
    margin-left: -4.5rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 7rem;
    background-color: #bcfdbc;
}
.product-number1-pay-money{
    margin-top: 2.3rem;
    height: 3.5rem; line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}
.product-total1-pay-money{
    margin-top: 2.3rem;
    margin-right: 2rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}
#container2-pay-money{
    width:100%;
    height:8rem;
    display:flex;
    justify-content:space-between;
    text-align:center;
}
.product-photo2-pay-money{
    margin-top:1rem;
    margin-left: 2.3rem;
    height:6.5rem;
    width:6.5rem;
    background-color: #bcfdbc;
}
.product-name2-pay-money{
    margin-top: 2.3rem;
    margin-left: -6.5rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 17rem;
    background-color: #bcfdbc;
}
.product-unitprice2-pay-money{
    margin-top: 2.3rem;
    margin-left: -4.5rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 7rem;
    background-color: #bcfdbc;
}
.product-number2-pay-money{
    margin-top: 2.3rem;
    height: 3.5rem; line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}
.product-total2-pay-money{
    margin-top: 2.3rem;
    margin-right: 2rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}
#container3-pay-money{
    width:100%;
    height:8rem;
    display:flex;
    justify-content:space-between;
    text-align:center;
}
.product-photo3-pay-money{
    margin-top:1rem;
    margin-left: 2.3rem;
    height:6.5rem;
    width:6.5rem;
    background-color: #bcfdbc;
}
.product-name3-pay-money{
    margin-top: 2.3rem;
    margin-left: -6.5rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 17rem;
    background-color: #bcfdbc;
}
.product-unitprice3-pay-money{
    margin-top: 2.3rem;
    margin-left: -4.5rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 7rem;
    background-color: #bcfdbc;
}
.product-number3-pay-money{
    margin-top: 2.3rem;
    height: 3.5rem; line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}
.product-total3-pay-money{
    margin-top: 2.3rem;
    margin-right: 2rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}
.pay-way{
    margin: auto;
    width: 75%;
    height: 5rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.chooseway-button{
    margin-left:2rem;
    height: 2.5rem;
    width: 6rem;
    margin-right: 1.5rem;
    border-radius: 5px;
    background-color: orange;
    color: white;
}
.ending-pay-money{
    margin: auto;
    width: 75%;
    height: 6rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.goback-button{
    height: 2.5rem;
    width: 6rem;
    margin-left: 1.5rem;
    border-radius: 5px;
    background-color: orange;
    color: white;
}
.total-money-pay-money{
    font-size: 150%;
}
.ok-button{
    height: 2.5rem;
    width: 6rem;
    margin-right: 1.5rem;
    border-radius: 5px;
    background-color: orange;
    color: white;
}

.notify-search{
    display: flex;
    justify-content: center;
    width: 85%;
    margin: auto;
    align-items: center;
    background-color: #fbfdff;
    color: rgb(51, 51, 51);
    height: 3rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ad6bf0;
    border-radius: 10px;
}
.searchingcar{
    margin: auto;
    width: 85%;
    height: 4rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 0.8rem ;
    font-size: 120%;
}
.searchingcar-name{
    width: 45%;
}
.searchingcar-unitprice{
    width: 25%;
    color: gray;
}
.searchingcar-number{
    width: 25%;
    color: gray;
}
.searchingcar-total{
    width: 20%;
    color: gray;
}
.searchingcar-action{
    width: 10%;
    color: gray;
}
.advice-search{
    margin: auto;
    width: 85%;
    height: 30rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 0.6rem;
    border-radius: 10px;
}
#container1-search{
    width:100%;
    height:9rem;
    display:flex;
    justify-content:space-between;
    text-align:center;
}
.product-photo1-search{
    margin-top:1rem;
    margin-left:0.8rem;
    height:6.5rem;
    width:6.5rem;
    background-color: #bcfdbc;
}
.product-name1-search{
    margin-left:-6rem;
    margin-top:2.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 17rem;
    background-color: #bcfdbc;
}
.product-unitprice1-search{
    margin-left:-5.5rem;
    margin-top:2.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 7rem;
    background-color: #bcfdbc;
}
.product-number1-search{
    margin-left:1.3rem;
    margin-top:2.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}
.product-total1-search{
    margin-right: -3rem;
    margin-top:2.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;

}
.product-action1-search{
    margin-right:2rem;
    margin-top:2.3rem;
    font-size:120%;
    height: 3.5rem;
    width: 8rem;
    background-color:#f38f1c;
    color: white;
}
#container2-search{
    width:100%;
    height:8rem;
    display:flex;
    justify-content:space-between;
    text-align:center;
}
.product-photo2-search{
    margin-left:0.8rem;
    height:6.5rem;
    width:6.5rem;
    background-color: #bcfdbc;
}
.product-name2-search{
    margin-left:-6rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 17rem;
    background-color: #bcfdbc;
}
.product-unitprice2-search{
    margin-left:-5.5rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 7rem;
    background-color: #bcfdbc;
}
.product-number2-search{
    margin-left:1.3rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}
.product-total2-search{
    margin-right: -3rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;

}
.product-action2-search{
    margin-right:2rem;
    margin-top:1.3rem;
    font-size:120%;
    height: 3.5rem;
    width: 8rem;
    background-color:#f38f1c;
    color: white;
}
#container3-search{
    width:100%;
    height:8rem;
    display:flex;
    justify-content:space-between;
    text-align:center;
}
.product-photo3-search{
    margin-left:0.8rem;
    height:6.5rem;
    width:6.5rem;
    background-color: #bcfdbc;
}
.product-name3-search{
    margin-left:-6rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 17rem;
    background-color: #bcfdbc;
}
.product-unitprice3-search{
    margin-left:-5.5rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 7rem;
    background-color: #bcfdbc;
}
.product-number3-search{
    margin-left:1.3rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}
.product-total3-search{
    margin-right: -3rem;
    margin-top:1.3rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;

}
.product-action3-search{
    margin-right:2rem;
    margin-top:1.3rem;
    font-size:120%;
    height: 3.5rem;
    width: 8rem;
    background-color:#f38f1c;
    color: white;
}
.ending-search{
    margin: auto;
    width: 85%;
    height: 5rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.go-product-button{
    height: 2.5rem;
    width: 6rem;
    margin-left: 1.5rem;
    border-radius: 5px;
    background-color: orange;
    color: white;
}
.thanks-buy{
    font-size: 150%;
}
.go-shoppingcar-button{
    height: 2.5rem;
    width: 6rem;
    margin-right: 1.5rem;
    border-radius: 5px;
    background-color: orange;
    color: white;
}
/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	background-color: #111111;
	margin: 0;
	min-height: 20%;
	padding: 0;
	width: 100%;
	position: absolute;
	margin-bottom:0px;
}
#footer div {
	max-width: 70%;
	overflow: hidden;
	padding: 40px;
}
#footer div p {
	color: #FFFFFF;
	float: right;
	font-family: Arial;
	font-size: 15px;
	font-weight: 600;
	line-height: 15px;
	padding: 5px 0 0;
	text-transform: none;
	width: 400px;
}