/*----------------------------------------header-styles---------------------------------------*/
* {
    box-sizing: border-box;
}
body{
	margin: 0;
}
#page{
	height: 100%;
}
#header {
	margin: 0;
	padding: 0;
	top:0;
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: black;
}
#navigation{
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding: 0 10px;
}
#mark{
	display:block;
	height: 100%;
	width: 140px;
	float: left;
	position: absolute;
	left: 25%;
}
#user {
	display:block;
	height: 100%;
	width: 100px;
	padding: 10px;
	position: absolute;
	float: left;
	left: 95%;
}
#header div ul {
	display: block;
	margin:  auto;
	padding-top: 18px;
    /* width: 100%; */
	text-align: center;
	padding-left: 0px;
	width: 50%;
}
#header div ul li {
	display: inline-block;
	margin: 0 15px 0 15px;
	padding: 0;
    width: auto;
    font-weight: 900;
}
#header div ul li a {
	color: whitesmoke;
	font-family: "Arial Black";
	font-size: 19px;
	font-weight: bolder;
	line-height: 19px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
#header div ul li a:hover {
	color: #D2A3DB;
}
/*-----------------insert your css here，don't forget to add"margin-top "size(60px) ，because the topbar is fixed---------------------*/

#test{
	height: 200px;
}
#menu{
	height: 100%;
}
/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	background-color: #111111;
	margin: 0;
	min-height: 20%;
	padding: 0;
	width: 100%;
	position: absolute;
	margin-buttom:0px;
}
#footer div {
	max-width: 70%;
	overflow: hidden;
	padding: 40px;
}
#footer div p {
	color: #FFFFFF;
	float: right;
	font-family: Arial;
	font-size: 15px;
	font-weight: 600;
	line-height: 15px;
	padding: 5px 0 0;
	text-transform: none;
	width: 400px;
}