body{
    font-family:Verdana;
    font-size:120%;
}

#header {
	margin: 0;
	padding: 0;
	position: relative;
    width: 100%;
    background-image: url("./photo/header.jpg");
    background-size: 100% 100%;
}
#header div {
	margin: 0 0 0 450px;
    max-width: 940px;
    min-height: 250px;
    padding: 0 10px;
}

#header div ul {
	display: block;
    float: right;
    list-style: none outside none;
    margin: 0 auto;
    max-width: 501px;
    padding: 180px 0 20px 40px;
    text-align: center;
}
#header div ul li {
	display: inline-block;
	margin: 0 0 0 37px;
	padding: 0;
    width: auto;
    font-weight: 900;
}
#header div ul li a {
	color: whitesmoke;
	font-family: "Arial Black";
	font-size: 19px;
	font-weight: bolder;
	line-height: 19px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
#header div ul li a:hover {
	color: #098CD8;
}

#log_container{
    height: 60px;
    background-color: #7D858A
}
#login{
    height: 100%;
    width: 50%;
    display: inline-block;
    margin: 0 auto;

    font-family: serif;
}
/*----------------------------------------search-styles---------------------------------------*/
#search{
    height: 40px;
    background-color: green;
}


.notify{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    align-items: center;
    background-color: #fbfdff;
    color: rgb(51, 51, 51);
    height: 3rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ad6bf0;
    border-radius: 10px;
}

.payingcar{
    margin: auto;
    width: 75%;
    height: 4.5rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 0.8rem ;
    font-size: 120%;
}

.payingcar-name{
    margin-left: 2rem;
    width: 60%;
}

.payingcar-unitprice{
    width: 30%;
    color: gray;
}

.payingcar-number{
    width: 30%;
    color: gray;
}

.payingcar-total{
    width: 15%;
    color: gray;
}

.advice{
    margin: auto;
    width: 75%;
    height: 30rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 0.6rem;
    border-radius: 10px;
}

#container1{
    width:100%;
    height:8rem;
    display:flex;
    justify-content:space-between;
    text-align:center;
}

.product-photo1{
    margin-top:1rem;
    margin-left: 2.3rem;
    height:6.5rem;
    width:6.5rem;
    background-color: #bcfdbc;
}

.product-name1{
    margin-top: 2.3rem;
    margin-left: -6.5rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 17rem;
    background-color: #bcfdbc;
}

.product-unitprice1{
    margin-top: 2.3rem;
    margin-left: -4.5rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 7rem;
    background-color: #bcfdbc;
}

.product-number1{
    margin-top: 2.3rem;
    height: 3.5rem; line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}

.product-total1{
    margin-top: 2.3rem;
    margin-right: 2rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}

#container2{
    width:100%;
    height:8rem;
    display:flex;
    justify-content:space-between;
    text-align:center;
}

.product-photo2{
    margin-top:1rem;
    margin-left: 2.3rem;
    height:6.5rem;
    width:6.5rem;
    background-color: #bcfdbc;
}

.product-name2{
    margin-top: 2.3rem;
    margin-left: -6.5rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 17rem;
    background-color: #bcfdbc;
}

.product-unitprice2{
    margin-top: 2.3rem;
    margin-left: -4.5rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 7rem;
    background-color: #bcfdbc;
}

.product-number2{
    margin-top: 2.3rem;
    height: 3.5rem; line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}

.product-total2{
    margin-top: 2.3rem;
    margin-right: 2rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}

#container3{
    width:100%;
    height:8rem;
    display:flex;
    justify-content:space-between;
    text-align:center;
}

.product-photo3{
    margin-top:1rem;
    margin-left: 2.3rem;
    height:6.5rem;
    width:6.5rem;
    background-color: #bcfdbc;
}

.product-name3{
    margin-top: 2.3rem;
    margin-left: -6.5rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 17rem;
    background-color: #bcfdbc;
}

.product-unitprice3{
    margin-top: 2.3rem;
    margin-left: -4.5rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 7rem;
    background-color: #bcfdbc;
}

.product-number3{
    margin-top: 2.3rem;
    height: 3.5rem; line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}

.product-total3{
    margin-top: 2.3rem;
    margin-right: 2rem;
    height: 3.5rem;
    line-height:3.5rem;
    width: 8rem;
    background-color: #bcfdbc;
}

.pay-way{
    margin: auto;
    width: 75%;
    height: 5rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.chooseway-button{
    margin-left:2rem;
    height: 2.5rem;
    width: 6rem;
    margin-right: 1.5rem;
    border-radius: 5px;
    background-color: orange;
    color: white;
}

.ending{
    margin: auto;
    width: 75%;
    height: 6rem;
    box-sizing: border-box;
    border: 1px solid #ad6bf0;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goback-button{
    height: 2.5rem;
    width: 6rem;
    margin-left: 1.5rem;
    border-radius: 5px;
    background-color: orange;
    color: white;
}

.total-money{
    font-size: 150%;
}

.ok-button{
    height: 2.5rem;
    width: 6rem;
    margin-right: 1.5rem;
    border-radius: 5px;
    background-color: orange;
    color: white;
} 

#footer {
	background-color: #111111;
	margin: 0;
	min-height: 122px;
	padding: 0;
	width: 100%;
}
#footer div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 47px 10px 42px;
}
#footer div p {
	color: #FFFFFF;
	float: right;
	font-family: Arial;
	font-size: 15px;
	font-weight: 600;
	line-height: 15px;
	margin: 0;
	padding: 5px 0 0;
	text-align: left;
	text-transform: none;
	width: 400px;
}