/*----------------------------------------header-styles---------------------------------------*/
body{
    margin: 0;
}
#header {
	margin: 0;
	padding: 0;
	position: relative;
    width: 100%;
    background-image: url("./photo/header.jpg");
    background-size: 100% 100%;
}
#header div {
	margin: 0 0 0 450px;
    max-width: 940px;
    min-height: 250px;
    padding: 0 10px;
}
/* #navigation{
    margin-right: 0;
} */
#header div ul {
	display: block;
    float: right;
    list-style: none outside none;
    margin: 0 auto;
    max-width: 501px;
    padding: 180px 0 20px 40px;
    text-align: center;
}
#header div ul li {
	display: inline-block;
	margin: 0 0 0 37px;
	padding: 0;
    width: auto;
    font-weight: 900;
}
#header div ul li a {
	color: whitesmoke;
	font-family: "Arial Black";
	font-size: 19px;
	font-weight: bolder;
	line-height: 19px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
#header div ul li a:hover {
	color: #098CD8;
}
/*----------------------------------------login-styles---------------------------------------*/
#log_container{
    height: 60px;
    background-color: #7D858A
}
#login{
    height: 100%;
    width: 50%;
    display: inline-block;
    margin: 0 auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: serif;
}
/*----------------------------------------search-styles---------------------------------------*/
#search{
    height: 40px;
    background-color: green;
}
/*----------------------------------------ticket-styles---------------------------------------*/
#ticket{
    height: 800px;
    background-color: #965959
}
/*----------------------------------------latest information---------------------------------------*/
#latest_data{
    height: 400px;
    background-color: #A36A3C
}
/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	background-color: #111111;
	margin: 0;
	min-height: 122px;
	padding: 0;
	width: 100%;
}
#footer div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 47px 10px 42px;
}
#footer div p {
	color: #FFFFFF;
	float: right;
	font-family: Arial;
	font-size: 15px;
	font-weight: 600;
	line-height: 15px;
	margin: 0;
	padding: 5px 0 0;
	text-align: left;
	text-transform: none;
	width: 400px;
}