/*----------------------------------------header-styles---------------------------------------*/
* {
    box-sizing: border-box;
}
body{
	margin: 0;
}
#page{
	height: 100%;
}
#header {
	margin: 0;
	padding: 0;
	top:0;
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: black;
}
#navigation{
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding: 0 10px;
}
#mark{
	display:block;
	height: 100%;
	width: 140px;
	float: left;
	position: absolute;
	left: 25%;
}
#user {
	display:block;
	height: 100%;
	width: 100px;
	padding: 10px;
	position: absolute;
	float: left;
	left: 95%;
}
#header div ul {
	display: block;
	margin:  auto;
	padding-top: 18px;
    /* width: 100%; */
	text-align: center;
	padding-left: 0px;
}
#header div ul li {
	display: inline-block;
	margin: 0 15px 0 15px;
	padding: 0;
    width: auto;
    font-weight: 900;
}
#header div ul li a {
	color: whitesmoke;
	font-family: "Arial Black";
	font-size: 19px;
	font-weight: bolder;
	line-height: 19px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
#header div ul li a:hover {
	color: #D2A3DB;
}
/*---------------insert your css here，don't forget to add"margin-top "size ，because the topbar is fixed-----------*/
/*----------------------------------------product-styles---------------------------------------*/
#body {
	border-top: 2px solid #252525;
	margin: 0;
	/* margin-top: 60px; */
	overflow: hidden;
	padding: 0;
    width: 100%;
    background: #423A3A;
}
#body div {
	background: rgba(71, 66, 66, 0.94);
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 58px 0 4px;
	text-align: center;
}


#search-box{
	margin-left: 85%;
	font-size: 13px;
	width: 120px;
	background: #E6E6E6 url('home_photo/search.png') no-repeat 3px 3px;
	padding: 3px 3px 3px 22px;
}

#body div h1 {
	color: #FC416F;
	font-family: 'Arial Black';
	font-size: 40px;
	font-weight: normal;
	line-height: 40px;
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	text-transform: uppercase;
}

#body div ul {
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	max-width: 780px;
	padding: 72px 30px 49px;
}
#body div ul li:first-child {
	border: none;
	padding: 0 0 0 0;
}
#body div ul li {
	border-top: 2px solid #363636;
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 40px 0 0;
	width: auto;
}
#body div ul li img {
	display: block;
	float: left;
	margin: 0 28px 0 0;
	padding: 0;
	width: 320px;
	height: 180px;
}
#body div ul li div {
	background: none;
	float: right;
	margin: 0;
	max-width: none;
	overflow: hidden;
	padding: 6px 0 0;
	width: 350px;
	text-align: center;
    /* height: 100%; */
}
#body div ul li div h1 {
	background: none;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 25px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 16px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}
#body div ul li div p {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.01em;
	line-height: 48px;
	margin: 0 0 6px;
	padding: 0;
	text-align: left;
	width: auto;
}

#body div ul li div a.more {
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: normal;
	height: 34px;
	line-height: 34px;
	margin: 0 0 40px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
}
#body div ul li div a.more:hover {
	background-color: #fc416f;
	border: none;
	height: 38px;
	line-height: 38px;
	width:100px;
}
#show_img{
	width: 100%;
	height:400px;
	margin-top: 60px;
}
/* ----------------------------------carousel img------------------------------ */
.carousel{
	height: 100%;
	position:relative;
  }
  
.items {
	  width: 100%;
	  height: 100%;
	  position:relative;
  }
  
.items .item {
	  width: 100%;
	  height: 100%;
	  /* text-align: center; */
	  position:absolute;
	  top:0;
	  left:0;

	  transform: translate(100%);
	  transition: transform 0.5s;
  }
  
.carousel .items .item.show {
    /*
      正在顯示的元素
      在正中間
    */
    transform: translate(0%);
    z-index: 10;
}
.carousel .items .item.show~.item {
    /*
      尚未展示的元素
      移至最左邊
    */
    transform: translate(-100%);
}  
.items .item img {
	  /* height: 100%;
	  width: 100%; */
	  /* height: 450px; */
	  /* height: 100%;
	  width:100%; */
	  height: 375px;
	  width:100%;
	  margin-bottom: -4px;
	  position: relative;
  }
 

  .carousel button {
    position: absolute;
    width: 2em;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.4em;
    z-index: 100;
    top: 0;
}

.carousel button img {
    width: 1em;
    height: 1em;

    /* 水平垂直置中 */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.carousel button#prev {
    left: 0;
}

.carousel button#prev img{
    transform: rotate(180deg);
}

.carousel button#next {
    right: 0;
}  

/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	background-color: #111111;
	margin: 0;
	min-height: 20%;
	padding: 0;
	width: 100%;
	position: absolute;
	margin-buttom:0px;
}
#footer div {
	max-width: 70%;
	overflow: hidden;
	padding: 40px;
}
#footer div p {
	color: #FFFFFF;
	float: right;
	font-family: Arial;
	font-size: 15px;
	font-weight: 600;
	line-height: 15px;
	padding: 5px 0 0;
	text-transform: none;
	width: 400px;
}