/*----------------------------------------header-styles---------------------------------------*/
* {
    box-sizing: border-box;
}
body{
	margin: 0;
}
/* #page{
	height: 100%;
} */
#header {
	margin: 0;
	padding: 0;
	top:0;
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: black;
}
#navigation{
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding: 0 10px;
}
#mark{
	display:block;
	height: 100%;
	width: 140px;
	float: left;
	position: absolute;
	left: 20%;
}
#user {
	display:block;
	height: 100%;
	width: 100px;
	padding: 10px;
	position: absolute;
	float: left;
	left: 95%;
}
#header div ul {
	display: block;
	margin:  auto;
	padding-top: 18px;
    /* width: 100%; */
	text-align: center;
	padding-left: 0px;
}
#header div ul li {
	display: inline-block;
	margin: 0 15px 0 15px;
	padding: 0;
    width: auto;
    font-weight: 900;
}
#header div ul li a {
	color: whitesmoke;
	font-family: "Arial Black";
	font-size: 19px;
	font-weight: bolder;
	line-height: 19px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
#header div ul li a:hover {
	color: #D2A3DB;
}
/*----------insert your css here-----------------*/

#show_img{
	width: 100%;
	height:45%;
	margin-top: 60px;
}
#show_img img{
    height: 100%;
    width:100%;
    margin-bottom: -4px;
}

/* -------body------- */
#body {
	/* border-top: 2px solid #252525; */
	/* margin: 0; */
	/* margin-top: 60px; */
	overflow: hidden;
	padding: 0;
    width: 100%;
    background: #423A3A;
    height: 1200px;
}
#detail {
	background: rgba(71, 66, 66, 0.94);
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
    /* text-align: center; */
    height: 100%;
    padding: 0 50px;
    padding-top: 1px black outset;
}
#description{
    height: 35%;
    color: white;
    font-size: 20px;
	line-height: 200%;
	margin-bottom: 40px;
}
#description h1{
	color: #fc416f;
}
#more{
    height: 34px;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.more {
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: normal;
	height: 34px;
	line-height: 34px;
	margin: 0;
	padding: 0;
	/* text-align: center; */
	text-transform: uppercase;
	width: 100px;
	/* margin-bottom: -40px; */
}
.more:hover {
	background-color: #fc416f;
	border: none;
	/* height: 38px; */
	/* line-height: 38px; */
	/* width:100px; */
}
#board{
    padding: 0 30px;
    height: 35%;
    color:white;
	margin-bottom: 5px;
	/* text-align: center; */
}

#scroll{
    width: 100%;
    height: 75%;
    overflow-x:hidden;
    overflow-y:auto;
    border-top: inset black 1.5px;
    border-bottom: inset black 1.5px;


}

.username{
    width: 250px;
    vertical-align:text-top;
    line-height: 150%;
    font-size: 110%;
}
.content{
    width: 520px;
    line-height: 150%;
    font-size: 110%;
}    

#message{
    /* border-top: 1px black outset; */
    height: 30%;
    text-align: center;
}
#message textarea{
    margin-top:20px; 
    resize: none;
    height: 200px;
    width: 100%;
    font-size: 20px;
    top: 15%;
    border:solid black 1px;
}
#button{
    height: 50px;
    width: 300px;
    margin: 20px auto;
    
}
.button{
    border-radius: 3%;
    margin: auto 5px;
    margin-top: 5px;
    /* float: right; */
}

/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	background-color: #111111;
	margin: 0;
	min-height: 20%;
	padding: 0;
	width: 100%;
	position: absolute;
	margin-bottom:0px;
}
#footer div {
	max-width: 70%;
	overflow: hidden;
	padding: 40px;
}
#footer div p {
	color: #FFFFFF;
	float: right;
	font-family: Arial;
	font-size: 15px;
	font-weight: 600;
	line-height: 15px;
	padding: 5px 0 0;
	text-transform: none;
	width: 400px;
}